html, body {
  height: 100%;
  width: 100%;
}

body { 
  margin: 0;
}

p.indent {
  text-indent: 2em;
}

#text_box p {
  margin: 0px;
}

#main_map {
  top: 0;
  /* top: 50px; */
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: auto;
  height: auto;
}

#inset_map {
  top: 10px;
  right: 10px;
  width: 30%;
  height: 20%;
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 6px;
  z-index: 600;
  background-color: rgba(250, 250, 250, 0.7);
}

#theLineDiv {
  top: 10px;
  left: 45px;
  position: absolute;
  z-index: 600;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 6px;
  z-index: 600;
  background-color: rgba(34, 34, 34, 0.7);
}

.place {
  text-decoration: underline;
  cursor: pointer;
}

.text-collision {
  text-decoration: underline wavy rgba(117, 117, 117, 1);
}

#bottom_box {
  border: 1px solid #333;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 6px;
  position: absolute;
  height: 250px;
  width: auto;
  right: 10px;
  left: 10px;
  bottom: 20px;
  background-color: rgba(250, 250, 250, 0.7);
  z-index: 500;
}

#text_box, #tool_bar {
  padding: 10px;
  height: 198px;
  overflow: hidden;
  overflow-y: auto;
}

#bottom_box_content {
  position: absolute;
  top: 50px;
  height: 200px;
  width: 100%;
}

#clock {
  margin-top: 10px;
}

.collision, .main, .inset {
  stroke-width: 1px;
  stroke: #222;
  stroke-opacity: 0;
  fill-opacity: 0;
}

.theline-dot {
  stroke-width: 1px;
  stroke: #ddd;
  stroke-opacity: 0.6;
  fill-opacity: 0.4;
}

.trail {
  stroke: blue;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-opacity: 0.0;
  fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
  fill: #ddd;
}

.timelinecursor {
  stroke: #5bc0de;
  stroke-width: 1px;
  fill: none;
}

.plotlinecursor {
  stroke: #5cb85c;
  stroke-width: 1px;
  fill: none;
}
