p.indent {
  text-indent: 2em;
}

#main_map {
  height: 400px;
  width: 100%;
}

.place {
  text-decoration: underline;
}

#text_box {
  border: 1px solid #333;
  padding: 10px;
  position: relative;
  overflow-y: scroll;
  height: 200px;
  width: 600px;
  top: 10px;
  background-color: rgba(250, 250, 250, 0.7);
}

.navbar {
}

